* {
    box-sizing: content-box;
}

#game {
    display: flex;
    justify-content: space-between;
}

#container {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    outline-style: solid;
    outline-color: black;
}

h1 {
    text-align: center;
    font-size: 124px;
    margin: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}